body {
    background-color: lightblue;
}
.container {
    background-color: rgba(255,255,255,.5);
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

h1, p {
    color: #fff;
}

h1 {
    display: inline;
    color: #fff;
}
table {
    width: 100%!important;
    text-align: center;
}
.jumbotron {
    background-color: transparent;
    color: #fff;
}
.vertical-center {
    height:100%;
    width:100%;
  
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
  }
  
  .vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: " ";
    display: inline-block;
    vertical-align: middle;    /* vertical alignment of the inline element */
    height: 100%;
  }
  
  .vertical-center > .container {
    max-width: 100%;
  
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
                             /* reset the font property */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .airDescription {
      padding: 20px;
  }

/* Warning Colors */

.quality {
    padding: 20px;
}
.quality-unavailable {
    background-color: #ccc;
}
.quality-good {
    background-color: #00E400;
}
.quality-moderate {
    background-color: #FFFF00;
}
.quality-unheathy1 {
    background-color: #FF7E00;
}
.quality-unheathy2 {
background-color: #FF0000;
}
.quality-veryunheatlhy {
background-color: rgb(143, 63, 151);
}
.quality-hazardous {
    background-color: #7E0023;
}


.quality-bg-unavailable {
    background-color: rgba(0,0,0,0);
}
.quality-bg-good {
    background-color: rgba(0,0,0,0);
}
.quality-bg-moderate {
    background-color: rgba(0,0,0,.2);
}
.quality-bg-unheathy1 {
    background-color: rgba(0,0,0,.3);
}
.quality-bg-unheathy2 {
    background-color: rgba(0,0,0,.4);
}
.quality-bg-veryunheatlhy {
    background-color: rgba(0,0,0,.6);
}
.quality-bg-hazardous {
    background-color: rgba(0,0,0,.8);
}


/* Mobile */

@media only screen and (max-width: 480px) {
    .container {
        margin:  0 20px;
    }
    td {
        font-size: 18px;
        line-height: 20px;
    }
}