body {
    background-color: lightblue;
}
.container {
    background-color: rgba(255,255,255,.5);
    padding-bottom: 40px;
}
h1, p {
    color: #fff;
}
h1 {
    display: inline;
    color: #fff;
}
.quality {
    padding: 20px;
}
.quality-good {
    background-color: #00E400;
}
.quality-moderate {
    background-color: #FFFF00;
}
.quality-unheathy1 {
    background-color: #FF7E00;
}
.quality-unheathy2 {
background-color: #FF0000;
}
.quality-veryunheatlhy {
background-color: rgb(143, 63, 151);
}
.quality-hazardous {
    background-color: #7E0023;
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}
.vertical-center {
    height:100%;
    width:100%;
  
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
  }
  
  .vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: " ";
    display: inline-block;
    vertical-align: middle;    /* vertical alignment of the inline element */
    height: 100%;
  }
  
  .vertical-center > .container {
    max-width: 100%;
  
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
                             /* reset the font property */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }